@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
h1 {
  color: white ;
  text-align: center;

}
body{
  background-image:url("backgroundimg.jpg");
  background-size: cover;
  font-family: 'Work Sans',sans-serif;
}
.container{
  width: 50%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  
}
header{
  background: rgb(14, 13, 13);
  opacity: 0.8;
}
header ::after{
  content: '';
  display: table;
  clear: both;
}
.logo{
  float:left;
  
 
}
nav{
  float: left;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  margin: 0 10px;
  padding-top: 25px;
}

/* Style the links inside the navigation bar */
nav a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  
}

nav a:hover{
  background-color:rgb(177, 174, 174);
  color: white;
  
}